





<div class="col-5" style="display: inline-block">
    <div class="st-items st-items-loop"><a href="javascript:void(0)"
                                           class="st-link">바로가기</a>
        <div class="row not-space">
            <div class="col-12">
                <div class="st-items-su"><strong><span
                        class="webfont2">213,213,123</span>원 펀딩</strong></div>
            </div>
            <div class="col-12 xs-text-right">
                <div class="col-xs-12">
                    <dl>
                        <dt>리워드명</dt>
                        <dd><strong>영국가고싶다 리워드명</strong></dd>
                    </dl>
                </div>
            </div>
            <div class="st-items-option">
                <dl>
                    <dt>리워드 내용</dt>
                    <div class="col-xs-12"><p>해당 리워드는 영국에서 시작하여...</p></div>
                </dl>
            </div>
            <div class="st-items-option-control"><a href="javascript:void(0);"
                                                    class="btn_none_icon btn_modify red-800">수정</a> <a
                    href="javascript:void(0);" class="btn_none_icon btn_delete red-800">삭제</a>
            </div>
        </div>
    </div>
</div>