<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.teamtwo.nullfunding.admin.model.dao.AdminMemberMapper">


    <resultMap type="MemberDTO" id="memberResultMap">
        <id property="memCode" column="MEM_CODE"/>
        <result property="memEmail" column="MEM_EMAIL"/>
        <result property="nickName" column="NICKNAME"/>
        <result property="regiDate" column="REGI_DATE"/>
        <result property="recentLogin" column="RECENTLOGIN"/>
        <result property="isActive" column="IS_ACTIVE"/>
        <result property="inqueryDate" column="INQUIRY_TYPE"/>
       <!-- <association property="personalInfoDTO" resultMap="persnalResultMap"/>
        <association property="inquiry" resultMap="inquiryResultMap"/>
        <association property="inquiryType" resultMap="inquiryTypeResultMap"/>-->
    </resultMap>

    <resultMap type="PersonalInfoDTO" id="persnalResultMap">
        <id property="personalNo" column="PERSONAL_NO"/>
        <result property="memCode" column="MEM_CODE"/>
        <result property="phone" column="PHONE"/>
        <result property="birthDate" column="BIRTHDATE"/>
        <result property="address" column="ADDRESS"/>
        <result property="gender" column="GENDER"/>
        <result property="name" column="NAME"/>
    </resultMap>

    <resultMap id="inquiryResultMap" type="InquiryDTO">
        <id property="inquiryNo" column="INQUIRY_NO"></id>
        <result property="memEmail" column="MEM_EMAIL"></result>
        <result property="inquiryType" column="INQUIRY_TYPE"></result>
        <result property="inquiryContent" column="INQUIRY_CONTENT"></result>
        <result property="inquiryDate" column="INQUIRY_DATE"></result>
        <result property="memCode" column="MEM_CODE"></result>
    </resultMap>

    <resultMap id="inquiryTypeResultMap" type="InquiryTypeDTO">
        <id property="typeNo" column="TYPE_NO"></id>
        <result property="typeName" column="TYPE_NAME"></result>
    </resultMap>


    <resultMap id="approveProject" type="ApproveProject">
        <id property="projectNo" column=""/>
        <result property="processedDate" column="PROCESSED_DATE"/>
        <result property="isApproved" column="IS_APPROVED"/>
        <result property="deniedReason" column="DENIED_REASAON"/>
    </resultMap>

    <resultMap id="projectDTO" type="ProjectDTO">
        <id property="projectNo" column="PROJECT_NO"/>
        <result property="raiserCode" column="RAISER_CODE"/>
        <result property="title" column="PJ_TITLE"/>
        <result property="description" column="DESCRIPTION"/>
        <result property="fundGoal" column="FUNDGOAL"/>
        <result property="regiDate" column="REGI_DATE"/>
        <result property="startDate" column="START_DATE"/>
        <result property="endDate" column="END_DATE"/>
        <result property="isFundable" column="IS_FUNDABLE"/>
        <result property="funderNum" column="FUNDERNUM"/>
        <result property="mainImg" column="MAINIMG"/>
        <result property="tel" column="TEL"/>
        <result property="pjEmail" column="PJ_EMAIL"/>
        <result property="refundRule" column="REFUNDRULE"/>
        <result property="videoURL" column="VIDEO_URL"/>

        <association property="approveProjectDTO" resultMap="approveProject"/>
    </resultMap>

    <!-- 회원 관리 -->
    <!-- 검색한 멤버 개수 -->
    <select id="selectTotalCount" resultType="_int" parameterType="hashMap">
        SELECT
        COUNT(*)
        FROM MEMBER A
        <where>
            <if test="searchCondition == 'memCode'">
                A.MEM_CODE LIKE '%' || #{ searchValue } || '%'
            </if>
            <if test="searchCondition == 'memEmail'">
                A.MEM_EMAIL LIKE '%' || #{ searchValue } || '%'
            </if>
            <if test="searchCondition == 'nickName'">
                A.NICKNAME LIKE '%' || #{ searchValue } || '%'
            </if>
        </where>
    </select>

    <!-- 검색하여 회원 정보 조회 -->
    <select id="selectAllMemberList" resultMap="memberResultMap">
        SELECT
        A.RNUM
        , A.MEM_CODE
        , A.MEM_EMAIL
        , A.NICKNAME
        , A.REGI_DATE
        , A.RECENTLOGIN
        , A.IS_ACTIVE
        FROM
        (SELECT ROWNUM RNUM
        , B.MEM_CODE
        , B.MEM_EMAIL
        , B.NICKNAME
        , B.REGI_DATE
        , B.RECENTLOGIN
        , B.IS_ACTIVE
        FROM
        (SELECT C.MEM_CODE
        , C.MEM_EMAIL
        , C.NICKNAME
        , C.REGI_DATE
        , C.RECENTLOGIN
        , C.IS_ACTIVE
        FROM MEMBER C
        ORDER BY C.MEM_CODE ASC) B
        <![CDATA[
                WHERE ROWNUM <= #{ endRow }
                ]]>
        ) A
        <where>
            A.RNUM >= #{ startRow }
            <if test="searchCondition == 'memCode'">
                A.MEM_CODE LIKE '%' || #{ searchValue } || '%'
            </if>
            <if test="searchCondition == 'memEmail'">
                A.MEM_EMAIL LIKE '%' || #{ searchValue } || '%'
            </if>
            <if test="searchCondition == 'nickName'">
                A.NICKNAME LIKE '%' || #{ searchValue } || '%'
            </if>
        </where>
    </select>
    <!-- 회원 관리 끝 -->

    <!-- 문의 관리 -->
    <select id="selectAllPersonal" resultMap="memberResultMap">
    SELECT A.MEM_CODE
         , A.MEM_EMAIL
         , B.NAME
         , B.PHONE
         , C.INQUIRY_DATE
         , D.TYPE_NAME
      FROM MEMBER A
      JOIN PERSONALINFO B ON (A.MEM_CODE = B.MEM_CODE)
      JOIN INQUIRY C ON (A.MEM_CODE = C.MEM_CODE)
      JOIN INQUIRY_TYPE D ON(C.INQUIRY_TYPE = D.TYPE_NO)
     ORDER BY A.MEM_CODE ASC
    </select>

    <!-- 프로젝트 조회 -->
<!--    <select id="selectAllProject" resultMap="projectDTO">-->
<!--        SELECT A.PROJECT_NO-->
<!--             , A.PJ_TITLE-->
<!--             , A.DESCRIPTION-->
<!--             , A.REGI_DATE-->
<!--             , B.IS_APPROVED-->
<!--    </select>-->

    <!-- 프로젝트 관리 -->
    <update id="confirmProject" parameterType="approveProject">
    UPDATE APPROVEPROJECT
    SET
        IS_APPROVED = #{ }
    WHERE
        PROJECT_NO = #{ projectNo }
    </update>

</mapper>