<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.teamtwo.nullfunding.Community.model.dao.CommunityMapper">

    <resultMap type="CommunityDTO" id="CommunityResultMap">
        <id property="articleNo" column="ARTICLE_NO"/>
        <result property="memCode" column="MEM_CODE"/>
        <result property="title" column="TITLE"/>
        <result property="content" column="CONTENT"/>
        <result property="uploadDate" column="UPLOAD_DATE"/>

        <association property="writer" resultMap="memberResultMap"/>
    </resultMap>

    <resultMap type="MemberDTO" id="memberResultMap">
        <id property="memCode" column="MEM_CODE"/>
        <result property="authCode" column="AUTH_CODE"/>
        <result property="memEmail" column="MEM_EMAIL"/>
        <result property="memPwd" column="MEM_PWD"/>
        <result property="isActive" column="IS_ACTIVE"/>
        <result property="regiDate" column="REGI_DATE"/>
        <result property="nickName" column="NICKNAME"/>
        <result property="recentLogin" column="RECENTLOGIN"/>
    </resultMap>

    <resultMap type="ComCommentDTO" id="ComCommentResultMap">
        <id property="commentNo" column="COMMENT_NO"/>
        <result property="nickName" column="NICK_NAME"/>
        <result property="memCode" column="MEM_CODE"/>
        <result property="articleNo" column="ARTICLE_NO"/>
        <result property="content" column="CONTENT"/>
        <result property="uploadDate" column="UPLOAD_DATE"/>

        <association property="writer" resultMap="memberResultMap"/>
    </resultMap>

    <!-- 모든 게시판 리스트 조회 -->
    <select id="selectAllCommunityList" resultMap="CommunityResultMap">
        SELECT A.ARTICLE_NO
             , B.MEM_CODE
             , A.TITLE
             , A.CONTENT
             , A.UPLOAD_DATE
        FROM Community A
                 JOIN MEMBER B ON (A.MEM_CODE = B.MEM_CODE)
        ORDER BY A.ARTICLE_NO DESC
    </select>

</mapper>

