<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.teamtwo.nullfunding.community.model.dao.CommunityMapper">

    <resultMap type="CommunityDTO" id="communityResultMap">
        <id property="articleNo" column="ARTICLE_NO"/>
        <result property="nickName" column="NICKNAME"/>
        <result property="title" column="TITLE"/>
        <result property="content" column="CONTENT"/>
        <result property="uploadDate" column="UPLOAD_DATE"/>
    </resultMap>

    <select id="selectAllCommunityList" resultMap="communityResultMap">
        SELECT *
        FROM COMMUNITY
        ORDER BY ARTICLE_NO
    </select>

</mapper>

