<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.teamtwo.nullfunding.inquiry.dao.InquiryMapper">

    <resultMap type="InquiryDTO" id="inquiryResultMap">
        <id property="inquiryNo" column="INQUIRY_NO"/>
        <result property="memEmail" column="MEM_EMAIL"/>
        <result property="inquiryType" column="INQUIRY_TYPE"/>
        <result property="inquiryContent" column="INQUIRY_CONTENT"/>
        <result property="inquiryDate" column="INQUIRY_DATE"/>
    </resultMap>

    <!-- 문의 접수하기 -->
    <insert id="insertInquiry" parameterType="InquiryDTO">
    INSERT
    INTO INQUIRY A
    (
        A.INQUIRY_NO
      , A.MEM_EMAIL
      , A.INQUIRY_TYPE
      , A.INQUIRY_CONTENT
      , A.INQUIRY_DATE
    )
    VALUES
    (
        SEQ_INQUIRY_NO.NEXTVAL
      , #{ memEmail }
      , #{ inquiryType }
      , #{ inquiryContent }
      , SYSDATE
    )
    </insert>


</mapper>
