<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.teamtwo.nullfunding.member.dao.MemberMapper">

    <!-- 아아디 중복 확인 -->
    <select id="selectMemberById" resultType="string">
        SELECT /* com.ohgiraffers.thymeleafspringboot.member.dao.MemberMapper#selectMemberById() */
             MEM_EMAIL
        FROM MEMBER
        WHERE IS_ACTIVE = 'Y'
          AND MEM_EMAIL = #{ memEmail }
    </select>

    <!-- 회원 가입 -->
    <insert id="insertMember" parameterType="com.teamtwo.nullfunding.member.dto.MemberDTO">
        INSERT /* com.ohgiraffers.thymeleafspringboot.member.dao.MemberMapper#insertMember() */
        INTO MEMBER
        (
          MEM_CODE
        , AUTH_CODE
        , MEM_EMAIL
        , MEM_PWD
        , IS_ACTIVE
        , REGI_DATE
        , NICKNAME
        , RECENTLOGIN
        )
        VALUES
        (
          SEQ_MEMBER_NO.NEXTVAL
        , default
        , #{ memEmail }
        , #{ memPwd }
        , default
        , sysdate
        , #{ nickName }
        , sysdate
        )
    </insert>

    <!-- 회원 가입 personalInfo  -->
    <insert id="insertPersonalInfo" parameterType="com.teamtwo.nullfunding.member.dto.PersonalInfoDTO">
    INSERT /* com.ohgiraffers.thymeleafspringboot.member.dao.MemberMapper#insertPersonalInfo() */
    INTO PERSONALINFO
    (
      MEM_CODE
    , NAME
    , GENDER
    , PHONE
    , ADDRESS
    , BIRTHDATE
    )
    VALUES
    (
      MemCode
    , #{ name }
    , #{ phone }
    , #{ address }
    , #{ birthDate}
    )
<selectKey keyColumn="MEM_CODE" keyProperty="MemCode" resultType="_int" order="AFTER">
    SELECT SEQ_MEMBER_NO.CURRVAL FROM DUAL;
</selectKey>


</insert>

</mapper>