<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.teamtwo.nullfunding.member.dao.MemberMapper">
    
    <resultMap id="loginMemberResultMap" type="MemberDTO">
        <id property="memCode" column="MEM_CODE"/>
        <result property="memEmail" column="MEM_EMAIL"/>
        <result property="memPwd" column="MEM_PWD"/>
        <result property="isActive" column="IS_ACTIVE"/>
        <result property="regiDate" column="REGI_DATE"/>
        <result property="nickName" column="NICKNAME"/>
        <result property="recentLogin" column="RECENTLOGIN"/>
        <result property="authName" column="AUTH_NAME"/>

        <association property="personalInfoDTO" resultMap="personalInfoDTO"/>
        <association property="fundRaiserDTO" resultMap="fundRaiserDTO"/>
    </resultMap>

    <resultMap id="fundRaiserDTO" type="FundRaiserDTO">
        <id property="raiserCode" column="RAISER_CODE"/>
        <result property="raiNickname" column="RAI_NICKNAME"/>
        <result property="raiAddress" column="RAI_ADDRESS"/>
        <result property="raiEmail" column="RAI_EMAIL"/>
        <result property="raiPhone" column="RAI_PHONE"/>
    </resultMap>

    <resultMap id="personalInfoDTO" type="PersonalInfoDTO">
        <id property="memCode" column="MEM_CODE"/>
        <result property="phone" column="PHONE"/>
        <result property="birthDate" column="BIRTHDATE"/>
        <result property="address" column="ADDRESS"/>
        <result property="gender" column="GENDER"/>
        <result property="name" column="NAME"/>
    </resultMap>


    <!-- 아아디 중복 확인 -->
    <select id="idDupCheck" resultType="_int">
        SELECT
             COUNT(MEM_EMAIL)
        FROM MEMBER
        WHERE MEM_EMAIL = #{ memEmail }
    </select>

    <!-- 회원 가입 -->
    <insert id="insertMember" parameterType="memberDTO">
        INSERT
        INTO MEMBER
        (
          MEM_CODE
        , AUTH_CODE
        , MEM_EMAIL
        , MEM_PWD
        , IS_ACTIVE
        , REGI_DATE
        , NICKNAME
        , RECENTLOGIN
        )
        VALUES
        (
          SEQ_MEMBER_NO.NEXTVAL
        , default
        , #{ memEmail }
        , #{ memPwd }
        , default
        , sysdate
        , #{ nickName }
        , sysdate
        )
        <selectKey keyColumn="MEM_CODE" keyProperty="MemCode" resultType="_int" order="AFTER">
            SELECT SEQ_MEMBER_NO.CURRVAL FROM DUAL;
        </selectKey>
    </insert>

    <!-- 회원 가입 personalInfo  -->
    <insert id="insertPersonalInfo" parameterType="personalInfoDTO">
    INSERT
    INTO PERSONALINFO
    (
      MEM_CODE
    , NAME
    , GENDER
    , PHONE
    , ADDRESS
    , BIRTHDATE
    )
    VALUES
    (
      MemCode
    , #{ name }
    , #{ phone }
    , #{ address }
    , #{ birthDate }
    )


</insert>



<!--    로그인-->
    <select id="findMemberById" resultMap="loginMemberResultMap">
        SELECT
                A.MEM_CODE
              , A.AUTH_NAME
              , A.MEM_EMAIL
              , A.MEM_PWD
              , A.IS_ACTIVE
              , A.REGI_DATE
              , A.NICKNAME
              , A.RECENTLOGIN
              , B.MEM_CODE
              , B.PHONE
              , B.BIRTHDATE
              , B.ADDRESS
              , B.GENDER
              , B.NAME
              , C.RAISER_CODE
              , C.RAI_NICKNAME
              , C.RAI_ADDRESS
              , C.RAI_EMAIL
              , C.RAI_PHONE
        FROM MEMBER A
        LEFT JOIN PERSONALINFO B ON (A.MEM_CODE = B.MEM_CODE)
        LEFT JOIN FUNDRAISER C ON (A.MEM_CODE = C.RAISER_CODE)
       WHERE A.MEM_EMAIL = #{ memEmail }
    </select>
</mapper>