<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.teamtwo.nullfunding.notice.model.dao.NoticeMapper">

    <resultMap type="NoticeDTO" id="noticeResultMap">
        <id property="noticeNo" column="NOTICE_NO"/>
        <result property="nickName" column="NICK_NAME"/>
        <result property="noticeTitle" column="NOTICE_TITLE"/>
        <result property="noticeContent" column="NOTICE_CONTENT"/>
        <result property="uploadDate" column="UPLOAD_DATE"/>
        <result property="readCount" column="READ_COUNT"/>
    </resultMap>

    <!-- 모든 공지사항 리스트 조회 -->    <!-- 완료 ! -->
    <select id="selectAllNoticeList" resultMap="noticeResultMap">
        SELECT
            A.NOTICE_NO
             , B.NICKNAME
             , A.NOTICE_TITLE
             , A.NOTICE_CONTENT
             , A.UPLOAD_DATE
             , A.READ_COUNT
        FROM NOTICE A
                 JOIN MEMBER B ON (A.MEMBER_CODE = B.MEM_CODE)
        ORDER BY A.NOTICE_NO DESC
    </select>

    <!-- 공지사항 게시글 추가 -->
    <insert id="insertNotice" parameterType="NoticeDTO">
        INSERT
        INTO TBL_NOTICE A
            (
          A.NOTICE_NO
        , A.NOTICE_TITLE
        , A.NOTICE_BODY
        , A.NOTICE_WRITER_MEMBER_NO
        )
        VALUES
            (
            SEQ_NOTICE_NO.NEXTVAL
                , #{ title }
                , #{ body }
                , #{ writerMemberNo }
            )
    </insert>

    <!-- 조회 시 조회 수 증가 -->
    <update id="incrementNoticeCount" parameterType="long">
        UPDATE
            TBL_NOTICE A
        SET A.NOTICE_COUNT = (SELECT B.NOTICE_COUNT
                              FROM TBL_NOTICE B
                              WHERE B.NOTICE_NO = #{ no }
                             ) + 1
        WHERE A.NOTICE_NO = #{ no }
    </update>

    <!-- 검색하여 노티스 조회 -->
    <select id="selectNoticeDetail" parameterType="long" resultMap="noticeResultMap">
        SELECT
            A.NOTICE_NO
             , A.NOTICE_TITLE
             , A.NOTICE_BODY
             , A.NOTICE_WRITER_MEMBER_NO
             , B.NICKNAME
             , A.NOTICE_COUNT
             , A.CREATED_DATE
        FROM TBL_NOTICE A
                 JOIN TBL_MEMBER B ON (A.NOTICE_WRITER_MEMBER_NO = B.MEMBER_NO)
        WHERE A.NOTICE_STATUS = 'Y'
          AND A.NOTICE_NO = #{ no }
    </select>

    <!-- 공지사항 게시글 수정 -->
    <update id="updateNotice" parameterType="NoticeDTO">
        UPDATE
            NOTICE A
        SET A.NOTICE_TITLE = #{ noticeTitle }
          , A.NOTICE_CONTENT = #{ noticeContent }
        WHERE A.NOTICE_NO = #{ no }
    </update>

    <!-- 공지사항 게시글 삭제 -->
    <delete id="deleteNotice" parameterType="long">
        DELETE
        FROM TBL_NOTICE A
        WHERE A.NOTICE_NO = #{ no }
    </delete>

</mapper>