<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.teamtwo.nullfunding.project.model.dao.ProjectMapper">

    <resultMap id="pjDetail" type="PJDetail">
        <id property="raiNickname" column="RAI_NICKNAME"/>
        <result property="raisedFund" column="RAISED_FUND"/>
        <collection property="projectDTO" resultMap="projectDTO"/>
    </resultMap>

    <resultMap id="approveProject" type="ApproveProject">
        <id property="projectNo" column=""/>
        <result property="processedDate" column="PROCESSED_DATE"/>
        <result property="isApproved" column="IS_APPROVED"/>
        <result property="deniedReason" column="DENIED_REASAON"/>
    </resultMap>

    <resultMap id="projectRewardDTO" type="ProjectRewardDTO">
        <id property="projectNo" column="PROJECT_NO"/>
        <result property="name" column="NAME"/>
        <result property="price" column="PRICE"/>
        <result property="details" column="DETAILS"/>
    </resultMap>

    <resultMap id="projectMediaDTO" type="ProjectMediaDTO">
        <id property="mediaNo" column="MEDIA_NO"/>
        <id property="projectNo" column="PROJECT_NO"/>
        <result property="fileName" column="FILENAME"/>
        <result property="hashName" column="HASHNAME"/>
        <result property="mediaType" column="MEDIA_TYPE"/>
        <result property="url" column="URL"/>
        <result property="isDeleted" column="IS_DELETED"/>
    </resultMap>

    <resultMap id="projectDTO" type="ProjectDTO">
        <id property="projectNo" column="PROJECT_NO"/>
        <result property="raiserCode" column="RAISER_CODE"/>
        <result property="title" column="PJ_TITLE"/>
        <result property="description" column="DESCRIPTION"/>
        <result property="fundGoal" column="FUNDGOAL"/>
        <result property="regiDate" column="REGI_DATE"/>
        <result property="startDate" column="START_DATE"/>
        <result property="endDate" column="END_DATE"/>
        <result property="isFundable" column="IS_FUNDABLE"/>
        <result property="funderNum" column="FUNDERNUM"/>
        <result property="mainImg" column="MAINIMG"/>
        <result property="tel" column="TEL"/>
        <result property="pjEmail" column="PJ_EMAIL"/>
        <result property="refundRule" column="REFUNDRULE"/>
        <result property="videoURL" column="VIDEO_URL"/>

        <association property="approveProjectDTO" resultMap="approveProject"/>
        <collection property="projectRewardDTOList" resultMap="projectRewardDTO"/>
        <collection property="projectMediaList" resultMap="projectMediaDTO"/>
    </resultMap>

    <select id="selectThisProject" resultMap="pjDetail">
        SELECT A.PROJECT_NO
             , A.PJ_TITLE
             , A.DESCRIPTION
             , A.FUNDGOAL
             , A.START_DATE
             , A.END_DATE
             , A.FUNDERNUM
             , A.IS_FUNDABLE
             , A.MAINIMG
             , A.TEL
             , A.PJ_EMAIL
             , A.REFUNDRULE
             , A.VIDEO_URL
             , B.RAI_NICKNAME
             , C.RAISED_FUND
        FROM FUNDINGPROJECT A
                 LEFT JOIN FUNDRAISER B ON (A.RAISER_CODE = B.RAISER_CODE)
                 LEFT JOIN PROJECTFUND C ON (A.PROJECT_NO = C.PROJECT_NO)
        WHERE A.PROJECT_NO = #{ no }
    </select>

    <select id="selectPreProject" resultMap="pjDetail">
        SELECT A.PROJECT_NO
             , A.PJ_TITLE
             , A.DESCRIPTION
             , A.FUNDGOAL
             , A.START_DATE
             , A.END_DATE
             , A.FUNDERNUM
             , A.IS_FUNDABLE
             , A.MAINIMG
             , A.TEL
             , A.PJ_EMAIL
             , A.REFUNDRULE
             , A.VIDEO_URL
             , B.RAI_NICKNAME
        FROM FUNDINGPROJECT A
                 LEFT JOIN FUNDRAISER B ON (A.RAISER_CODE = B.RAISER_CODE)
        WHERE A.IS_FUNDABLE = 'N'
          AND A.START_DATE <![CDATA[ > ]]> SYSDATE
    </select>

    <select id="selectAllProject" resultMap="pjDetail">
        SELECT A.PROJECT_NO
             , A.PJ_TITLE
             , A.DESCRIPTION
             , A.FUNDGOAL
             , A.START_DATE
             , A.END_DATE
             , A.FUNDERNUM
             , A.IS_FUNDABLE
             , A.MAINIMG
             , A.TEL
             , A.PJ_EMAIL
             , A.REFUNDRULE
             , A.VIDEO_URL
             , B.RAI_NICKNAME
             , C.RAISED_FUND
        FROM FUNDINGPROJECT A
                 LEFT JOIN FUNDRAISER B ON (A.RAISER_CODE = B.RAISER_CODE)
                 LEFT JOIN PROJECTFUND C ON (A.PROJECT_NO = C.PROJECT_NO)
        WHERE A.IS_FUNDABLE = 'Y'
    </select>

    <insert id="insertApproveProject">
        INSERT
          INTO APPROVEPROJECT A
            (
              PROJECT_NO
            , PROCESSED_DATE
            , IS_APPROVED
            , DENIED_RESAON
            )
       VALUES
            (
              SEQ_PROJECT_NO.CURRVAL
            , NULL
            , DEFAULT
            , NULL
            )
    </insert>

    <insert id="requestProject" parameterType="ProjectDTO">
        INSERT
        INTO FUNDINGPROJECT A (
               A.PROJECT_NO
             , A.RAISER_CODE
             , A.DESCRIPTION
             , A.FUNDGOAL
             , A.REGI_DATE
             , A.START_DATE
             , A.END_DATE
             , A.IS_FUNDABLE
             , A.FUNDERNUM
             , A.PJ_TITLE
             , A.MAINIMG
             , A.TEL
             , A.PJ_EMAIL
             , A.REFUNDRULE
             , A.VIDEO_URL
          )
        VALUES
            (
            SEQ_PROJECT_NO.NEXTVAL
                , #{ raiserCode }
                , #{ description }
                , #{ fundGoal }
                , DEFAULT
                , #{ startDate }
                , #{ endDate}
                , 'N'
                , 0
                , #{ title }
                , #{ mainImg }
                , #{ tel }
                , #{ pjEmail }
                , #{ refundRule }
                , #{ videoURL }
            )

    </insert>

    <update id="insertRewards" parameterType="java.util.List">
        <selectKey keyColumn="PROJECT_NO" keyProperty="projectNo" resultType="_int" order="BEFORE">
            SELECT SEQ_PROJECT_NO.CURRVAL FROM DUAL
        </selectKey>
        <foreach collection="list" item="item" index="index" separator=" " open="INSERT ALL" close="SELECT * FROM DUAL">
            INTO PROJECT_REWARD
            (
              PROJECT_NO
            , NO
            , NAME
            , PRICE
            , DETAILS
            )
            VALUES

            (
              #{ projectNo }
            , #{ index } + 1
            , #{ item.name }
            , #{ item.price }
            , #{ item.details }
            )
        </foreach>
    </update>

</mapper>

