<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<div th:fragment="footerFragment" class="footer">

  <br><br><br><br><br><br><br><br><br><br>
<footer class="site-footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-6">
      </a>
        <h6>About</h6>
        <p class="">스타트업 투자는 원금 손실과 유동성 및 현금성에 
                          대한 투자위험을 가지고 있습니다. <br>
                          투자 전에 투자위험고지를 꼭 확인해주세요. </p>
                          <a href="../fragments/warnning.html"><span class="red_text">투자위험고지 바로가기 ></span></a><br><br>
                          중개업(온라인소액투자중개 및 통신판매중개)을 영위하는 플랫폼 제공자로 <br> 자금을 모집하는
                          당사자가 아닙니다. <br>따라서 투자손실의 위험을 보전하거나 리워드 제공을 보장해 드리지 않으며<br>
                          이에 대한 법적인 책임을 지지 않습니다.</p>
      </div>

      <div class="col-xs-6 col-md-3">
        <h6>ABOUT NULL</h6>
        <ul class="footer-links">
          <li><a href="#">새 소식</a></li>
          <li><a href="#">회사 소개</a></li>
          <li><a href="#">머시기 등등</a></li>
        </ul>
      </div>

      <div class="col-xs-6 col-md-3">
        <h6>Quick Links</h6>
        <ul class="footer-links">
          <li><a href="#">도움말</a></li>
          <li><a href="#">개인정보 처리방침(투자)</a></li>
          <li><a href="#">신용정보 활용체제</a></li>
          
      </ul>
      </div>
    </div>
    <hr>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-sm-6 col-xs-12">
        <p class="copyright-text">Copyright &copy; 2022 All Rights Reserved by 
      <a href="https://jongro.himedia.co.kr/">Hi Media</a>.
        </p>
      </div>

      <div class="col-md-4 col-sm-6 col-xs-12">
        <ul class="social-icons">
          <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
          <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
          <li><a class="dribbble" href="#"><i class="fa fa-dribbble"></i></a></li>
          <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>   
        </ul>
      </div>
    </div>
  </div>
</footer>

                                          <!-- 메인 푸터 끝 -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
</div>
</html>
