<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">


<th:block th:fragment="mkPJSidebar" class="mkPJSidebar">
    <div class="col-md-3">
        <br><br><br><br><br>
        <div class="list-group">
            <div class="list-header">
                <b>프로젝트 만들기</b>
            </div>
            <div class="col-md-4"><a href="javascript:void(0)" class="list-group-item list-group-item-action goPJ1"
                                     style="border:none;">
                1. 기본정보</a>
            </div>
            <div class="col-md-4"><a href="javascript:void(0)" class="list-group-item list-group-item-action goPJ2"
                                     style="border:none;">
                2. 리워드</a>
            </div>
            <div class="col-md-4"><a href="javascript:void(0)" class="list-group-item list-group-item-action goPJ3"
                                     style="border:none;">
                3. 안내사항</a>
            </div>
        </div>
    </div>

</th:block>
</html>